body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
/* ACERCA DE */
.navbar {
    background-color: #1885ef;
    color: white;
    padding: 10px;
}

.navbar-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.flecha {
    margin-right: 10px;
}

.menu {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-item {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        background-color: #1885ef;
        color: white;
    }
}
